<div class="overflow-scroll mb-3">
  <div class="d-flex" style="width: 700px; height: 350px;">
    <div *ngFor="let f of filmes" class="card me-2" style="width: 340px;">
      <img [src]="f.capa" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ f.nome }}</h5>
        <p class="card-text">{{ f.lancamento }}</p>
      </div>
    </div>
    <div *ngFor="let f of filmes" class="card me-2" style="width: 340px;">
      <img [src]="f.capa" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ f.nome }}</h5>
        <p class="card-text">{{ f.lancamento }}</p>
      </div>
    </div>
  </div>
</div>

<div id="carouselDeFilmes" class="carousel slide" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div> -->
  <div class="carousel-inner">
    <div *ngFor="let f of filmes" class="carousel-item {{ f.indice == 0 ? 'active':'' }}">
      <img [src]="f.capa" class="d-block w-100">
      <div class="carousel-caption d-block bg-dark">
        <h5>{{ f.nome }}</h5>
        <p>{{ f.lancamento }} - {{ f.duracao }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDeFilmes" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselDeFilmes" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
