<div class="container capa h-75">
  <div class="p-2 h-100">
    <div class="row">
      <div class="col-4">
        <img src="assets/icons/logo.svg" class="w-25" />
      </div>
      <div class="col-2"></div>
      <div class="col-6">
        <div class="float-right">
          <button type="button" class="btn">
            <img src="assets/icons/chromecast.svg" />
          </button>
          <button type="button" class="btn">
            <img src="assets/icons/search.svg" />
          </button>
          <button type="button" class="btn">
            <img src="assets/icons/person-fill.svg" />
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a class="btn text-light">Séries</a>
      </div>
      <div class="col-3">
        <a class="btn text-light">Filmes</a>
      </div>
      <div class="col-5">
        <form>
          <select class="form-control">
            <option selected>Categorias</option>
            <option>Ação</option>
            <option>Aventura</option>
            <option>Corrida</option>
          </select>
        </form>
      </div>
    </div>
    <div class="v-spacer"></div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center top10fundo">
          <div class="top10 bg-netflix"><span>TOP</span> 10</div>
          <h2 class="text-center">Top 4 no Brasil hoje </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn text-light">
          <i src="assets/icons/plus.svg"></i>
          Minha lista
        </button>
      </div>
      <div class="col">Assistir</div>
      <div class="col">Saiba Mais</div>
    </div>
  </div>
</div>
