.capa{
    background-image: url("../../../assets/imgs/hacker2.jpg");
    background-position: center top;
}

.container > * {
  color: white;
}

.form-control{
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
}

.form-control:focus{
  box-shadow: none;
}

option{
  background-color: transparent;
  color: black;
}

.v-spacer{
  position: relative;
  height: 70%;
}

.bg-netflix{
  background-color: red;
}

.top10fundo{
  background-color: rgba(0, 0, 0, 0.7);
}

.top10{
  padding: 0px;
  margin-right: 10px;
  width: 30px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}

.top10 > span{
  font-size: 10px;
}
