<div class="p-2 h-100">
  <div class="row">
    <div class="col-4">
      <img src="assets/icons/logo.svg" class="w-25" />
    </div>
    <div class="col-2"></div>
    <div class="col-6">
      <div class="float-right">
        <button type="button" class="btn">
          <img src="assets/icons/chromecast.svg" />
        </button>
        <button type="button" class="btn">
          <img src="assets/icons/search.svg" />
        </button>
        <button type="button" class="btn">
          <img src="assets/icons/person-fill.svg" />
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="w-30">
      <a class="btn text-light menu-topo-fonte w-100">Séries</a>
    </div>
    <div class="w-30">
      <a class="btn text-light menu-topo-fonte w-100">Filmes</a>
    </div>
    <div class="w-40">
      <form>
        <select class="form-control menu-topo-fonte">
          <option selected>Categorias</option>
          <option>Ação</option>
          <option>Aventura</option>
          <option>Corrida</option>
        </select>
      </form>
    </div>
  </div>
  <div class="v-spacer"></div>
  <div class="row top10fundo">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="top10 bg-netflix"><span>TOP</span> 10</div>
        <h2 class="text-center">Top 4 no Brasil hoje </h2>
      </div>
    </div>
  </div>
  <div class="row top10fundo">
    <div class="col menu-inferior">
      <a href="#" class="btn text-light p-0" role="button">
        <div class="p-0 lista">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </div>
        <small>Minha lista</small>
      </a>
    </div>
    <div class="col-5 menu-inferior">
      <a href="#" class="btn btn-light text-dark" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-play-fill"
          viewBox="0 0 16 16">
          <path
            d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
        </svg>
        Assistir
      </a>
    </div>
    <div class="col menu-inferior">
      <a href="#" class="btn text-light p-0 pt-1" role="button">
        <div class="saiba">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
        </div>
        <small>Saiba Mais</small>
      </a>
    </div>
  </div>
</div>
